.alertas{
    height: 0px;
}

.alerta_backgrand{
    visibility: hidden;
    z-index: 101;
    width: 100vw;
    height: 0;
}

.alerta_backgrand-ativo{
    visibility: visible;
    
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alerta_conteudo{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background: #161616;
    width: 290px;
    padding: 30px;
}

.alerta_texto{
    color: var(--cor-secondary);
    width: 70%;
    text-align: center;
    margin-top: 30px;
    
}

.alerta_conteudo button{
    margin-bottom: 10px;
}

.alerta_conteudo button:last-child{
    margin-bottom: 30px;
}