.alertas{
    height: 0px;
}

.alerta_backgrand{
    display: none;
    z-index: 101;
    width: 100vw;
    height: 0;
}

.alerta_backgrand-ativo{
    display: none;
    
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alerta_conteudo{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background: #161616;
    padding: 30px;
    width: 70vw;
	max-width: 270px;
}

.alerta_texto{
    color: var(--cor-secondary);
    width: 70%;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    
}

.alerta_conteudo-perfil{
	max-width: min-content;
	
}

.alerta_texto-segundo{
	margin-top: 0px;
	font-weight: 400;
}

.alerta_conteudo > input{
	margin-bottom: 10px;
}

.alerta_conteudo button{
    margin: 10px;
}

.alerta_conteudo button:last-child{
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .alerta_conteudo{
        max-width: 300px;
    }
}