.cabecalho, .cabecalho_img--icon, .cabecalho_img--logo{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cabecalho {
    background-color: var(--cor-secondary);
    position: fixed;
    top: 5px;
    width: calc(100vw - 25px);
    display: flex;
    border-radius: 0 50px 50px 0;
    justify-content: center;
    align-items: center;
    height: 77px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.53);
}

.cabecalho_navegacao{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secondary);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.53);
    width: 0px;
    max-width: 0px;
    height: calc(100vh - 15px);
    border-radius: 0 50px 50px 0;
    position: fixed;
    overflow-x: hidden;
    top: 3px;
    left: 0;
    transition: 0.6s;
    

}

.cabecalho_navegacao-ativo{
    visibility: visible;
    height: calc(100vh - 15px);
    border-radius: 0 50px 50px 0;
    width: 60vw;
    max-width: 300px;
    

}

.cabecalho_itens{
    height: 40%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.cabecalho_itens li {
    margin: 10px;
}
.cabecalho_item{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cabecalho_item--login{
    order: -1;
}

.backgrand {
    visibility: hidden;
    z-index: -1;
    position: fixed;
    top: -5px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.0);
}
.backgrand-ativo{
    background-color: rgba(0, 0, 0, 0.25);
    visibility: visible;
    width: 100vw;
    height: 100vh;
    transition: 0.6s;
}

.cabecalho_img--icon {
    width: 35px;
    position: absolute;
    top: 20px;
    left: 22px;
    z-index: 10;
    cursor: pointer;

}

.cabecalho_img--logo {
    width: 100px;
}

.usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: auto;

}

.usuario_img{
    background-color: var(--cor-fundo);
    border-radius: 100px;
    width: 60px;
    height: 60px;
}

.usuario_link-cadastro {
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        justify-content: space-around;
        top: 0;
    }

    .cabecalho_navegacao{
        visibility: visible;
        flex-direction: row;
        width: auto;
        max-width: 500px;

        height: auto;
        position: static;
        box-shadow: none;
        border-radius: 0;
        transition: none;
    }

    .cabecalho_itens{
        display: flex;
        flex-direction: row;
    }
    .cabecalho_item--login{
        order: 1;
    }

    .cabecalho_div{
        display: none;
    }
    .cabecalho_img--icon{
        position: none;
        top: 0;
    }

    .cabecalho_img--icon {
        display: none;
    }

    .backgrand-ativo{
        background-color: rgba(0, 0, 0, 0.0);
        visibility: hidden;
    }

    .usuario{
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        height: auto;
        
    
    }

    .usuario_img{
        width: 40px;
        height: 40px;
    }
}