@import url(../css/alerta.css);
.chat{

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.chat_mensagens{
    overflow-y: scroll;
    position: fixed;
    display: flex;
    top: 77px;
    flex-direction: column;
    z-index: -2;
    height: calc(100vh - 10vh - 77px);
    width: 100vw;
}



.mensagem{
    width: 60%;
    display: flex;
    border-radius: 30px;
    margin: 7px;
    width: fit-content;
    max-width: 170px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: fit-content;
    border: solid 1px black;
    color: beige;
    font-weight: 300;

}

.mensagem:first-child{
    margin-top: 115px;
}
.mensagem:last-child{
    margin-bottom: 20px;
}

.chat_campo-mensagem-remetente{
    align-self: flex-end;
    background-color: #361F62;
    padding-right: 5px;
    margin-right: 40px;
}

.chat_campo-mensagem-destinatario{
    align-self: flex-start;
    background-color: #30217E;
    margin-left: 40px;
    padding-right: 5px;
}

.chat_campo-mensagem-texto{
    margin: 10px;
    padding: 5px;

}

/* ÁREA DO INPUT */

.chat_campo-texto{
    background-color: #38344d;
    width: 100vw;
    height: 10vh;

    z-index: -2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_enviar{
    background-color: var(--cor-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border: solid 1px black;
    border-radius: 25px;
}

.chat_enviar img {
    width: 50%;
}

/* Área do card do usuário */

.chat_usuario{
    z-index: -1;
    position: fixed;
    top: 95px;
    width: 70vw;
    height: 80px;
    max-width: 360px;
    background-color: var(--cor-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 25px;
}

.chat_usuario-img{
    background-color: #a9b1c5;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 25px;
    border: solid 1px black;
}

@media screen and (min-width: 768px) {
    .chat_campo-mensagem-remetente{
        margin-right: calc(100vw - 80vw);
    }
    
    .chat_campo-mensagem-destinatario{
        margin-left: calc(100vw - 80vw);

    }
}

@media screen and (min-width: 1024px){
    .chat_campo-mensagem-remetente{
        margin-right: calc(100vw - 70vw);
    }
    
    .chat_campo-mensagem-destinatario{
        margin-left: calc(100vw - 70vw);

    }
}