.forum_discussoes{
    margin: 10px;
}

.forum_btn{
    width: 183px;
    font-size: 16px;
    background-color: var(--cor-secondary);
    color: black;
    box-shadow: none;
    border: solid black 1px;
    margin: 10px;
    text-transform: none;
}

.forum_btn:hover{
    background-color: #d8dde7;
}

.forum_select{
    width: 183px;
    font-size: 16px;
    background-color: var(--cor-secondary);
    color: black;
    box-shadow: none;
    border-radius: 50px;
    border: solid black 1px;
    margin: 10px;
    height: 35px;
    padding: 0 0px 0 10px;
    outline: none;
}

.forum_card{
    width: 80vw;
    max-width: 340px;
    background-color: var(--cor-secondary);
    border-radius: 25px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: black;
    text-decoration: none;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.53);
}

.forum_conteudo-texto {
    padding: 30px 0px 0 0px;
    width: 60%;
}

.forum_texto-parteDois{
    display: flex;
}

.forum_texto-titulo {
    margin: 0 0 8px 0;
    font-size: 17px;
    min-height: 50px;

}

.forum_texto-categoria{
    background-color: #4f266a;
    background-image: linear-gradient(90deg, #2b137a 60%, #2641a0 100%);
    color: rgb(206, 206, 206);
    width: fit-content;
    max-width: 80px;
    width: -moz-min-content;
    text-align: center;
    
    padding: 2px 12px;
    border-radius: 5px;
    border: 1px solid rgb(44, 44, 44);
    margin: 0 0 8px 0;
}

.forum_texto-dia{
    margin: 0;
}

.forum_texto-resposta, .forum_texto-quantidade {
    margin-top: 4px;
    margin-bottom: 30px;

} 

.forum_texto-quantidade {
    margin: 4px 5px 30px 5px;
}


.forum_conteudo-usuario{
    width: fit-content;
    width: -moz-min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forum_img{
    width: 70%;
    height: 70%;
}

.forum_img-fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    border-radius: 25px;
    background-color: var(--cor-fundo);
}

.forum_usuario{
    margin-top: 3px;
}

@media screen and (min-width: 768px) {
    .forum_card{
        max-width: 470px;
    }
    .forum_conteudo-texto{
        display: flex;
        padding: 30px 0 30px 0;
        
        width: 75%;
        
    }

    .forum_texto-titulo{
        width: 261px;
        min-height: 90px;
    }

    .forum_texto-parteDois{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
    }

    .forum_texto-resposta{
        font-size: 16px;
        margin: 0 0 12px 0;
    }

    .forum_texto-quantidade{
        font-size: 20px;
        margin: 0;
    }

    .forum_usuario{
        margin-top: 3px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .forum_discussoes{
        display: grid;
        grid-template-columns: 500px 500px;
    }

    .forum_discussao{
        
        margin: auto auto;
    }

    .forum_card{
        max-width: 478px;
    }

    .forum_conteudo-texto {
        padding: 15px 0px 15px 0px;
        width: 78%;
    }

    


}