@import url(../css/normalize.css);
@import url(../css/cabecalho.css);
@import url(../css/conteudo.css);
@import url(../css/formulario.css);
@import url(../css/alerta.css);

.conteudo_principal {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo_apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo_apresentacao-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    margin-top: 77px;
}

.update_donate-art {
    width: 100vw;
    max-width: 400px;
    margin-top: 30px;
}

.titulo_principal , .titulo_secundario, h3, p{
    text-align: center;
}

.titulo_principal {
    font-weight:600;

    font-size: 27px;
    color: #353554;
    margin-bottom: 20px;
}

.titulo_secundario {
    padding: 0 4px 0 4px;
    width: 92vw;
    font-weight: 600;
    
    margin-bottom: 40px;
}
p{
    width: 300px;
}

p:last-of-type{
    width:  initial;
    padding: 0px 5px;
    background-color: rgba(28,116,186,0.5);

}

.index-button{
    margin-bottom: 70px;
}




#itens-bar {
    margin-top: 200px;
    width: 325px;
    height: 275px;
    background-color: #FFFFFF;
}

.footer {
    width: 100vw;
    background-color: #E9E9E9;
    margin-top: 30px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footer-icon {
    margin: 10px 0 10px 0;

}
.footer_img-logo {
    margin-top: 10px;
    width: 40px;

}

.footer-label {
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
    width: 50%;
    text-align: center;

}

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.priv-link {
    margin-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .conteudo_apresentacao-principal {
        margin-top: 0;
    }
    .update_donate-art{
        width: 60vw;
    }
}

@media screen and (min-width: 1024px){

    .conteudo_apresentacao-principal {
        width: 70vw;
        max-width: 1024px;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: calc(100vh - 77px);
        margin-top: 0;
    }

    .conteudo_apresentacao {
        display: flex;
        width: 40vw;
        max-width: 550px;
        flex-direction: column;
    }

    
    .update_donate-art {
        max-width: 400px;
    }

    .titulo_principal {
        width: 100%;
    }
    
    .titulo_secundario {
        padding: 0 4px 0 4px;
        width: 70%;

        margin-bottom: 40px;
    }

    .footer {
        width: 100vw;
        background-color: #E9E9E9;
        margin-top: 30px;;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    


}