:root{
    --cor-fundo: #CFCFCF;
    --cor-primary: #2B137A ;
    --cor-secondary: #E9E9E9;
}

.conteudo_principal {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo_apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo_apresentacao-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update_donate-art {
    margin-top: 30px;
    background-color: #929cb5;
    width: 280px;
    height:217px;
    border-radius: 50%;
}

.titulo_principal {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    color: #353554;
    margin-bottom: 20px;
}

.titulo_secundario {
    padding: 0 4px 0 4px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}

.btn_saiba-mais {
    display: flex;
    width: 153px;
    height: 40px;
    border-radius: 18px;
    background-color: #2B137A;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

#itens-bar {
    margin-top: 200px;
    width: 325px;
    height: 275px;
    background-color: #FFFFFF;
}

.footer {
    background-color: #E9E9E9;
    margin-top: 30px;;
    padding: 10px;
}
.footer-icon {
    margin: 10px 0 30px 0;
    display: flex;
    justify-content: center;
}
.footer_img-logo {
    width: 40px;
    height: 30px;
}

.footer-label {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.priv-link {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}

@media screen and (min-width: 550px) {
    .conteudo_apresentacao-principal {
        margin-top: 2rem;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1024px){


    .conteudo_apresentacao-principal {
        justify-content: space-between;
    }

    .conteudo_apresentacao {
        display: flex;
        width: 50%;
        flex-direction: column;
    }

    
    .update_donate-art {
        margin-top: 30px;
        background-color: #929cb5;
        width: 280px;
        height:217px;
        border-radius: 50%;
    }   
    


}